@import 'src/app/_base/globals.scss';
@import 'src/app/_base/baseStyles.scss';

:host(){
    margin:5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border: 1px solid lightgrey;
    position: relative;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    tng-overview-thing{
        margin-top: 5px;
    }
}

.formContainer{
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &.open{
        border: 1px solid black;
        .showFormButton{
            box-shadow: none;
        }
    }
}

.showFormButton{
    @extend .buttonStyle;
    background-color: $ADD_COLOR;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    &::before{
        font-size: 30px;
        color: white;
        content: '+';
    }
}