@import 'src/app/_base/globals.scss';
@import 'src/app/_base/baseStyles.scss';

:host(){
    margin:5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border: 1px solid lightgrey;
    position: relative;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    tng-overview-thing{
        margin-top: 5px;
    }
}

.formContainer{
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &.open{
        border: 1px solid $BORDER_COLOR;
        .showFormButton{
            box-shadow: none;
        }
    }
}

.showFormButton{
    @extend .buttonStyle;
    background-color: $ADD_COLOR;
    margin-bottom: 5px;
}