@import './mixins.scss';

textarea{
    resize: none;
}

.clickable{
    user-select: none;
}

.buttonStyle{
    @extend .clickable;
    @include boxshadow;
    $dimensions: 35px;
    height: $dimensions;
    width: $dimensions;

    border-radius: 50%;

    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
