@import 'src/app/_base/baseStyles.scss';

:host(){
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.name{
    font-weight: bold;
}

.description{
    margin-top: 5px;
    &.placeholder{
        color: lightgray;
    }
}
.buttons{
    display: flex;
    justify-content: flex-end;
}

.delete{
    @extend .buttonStyle;
    background-color: red;
}
.edit{
    @extend .buttonStyle;
    background-color: blue;
}