@import 'src/app/_base/baseStyles.scss';
@import 'src/app/_base/mixins.scss';
@import 'src/app/_base/globals.scss';

:host(){
    position: relative;
    background-color: white;
    @include boxshadow;
}

.content{
    border: 1px solid $BORDER_COLOR;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.name{
    @extend .clickable;
    font-weight: bold;
}

.description{
    margin-top: 5px;
    &.placeholder{
        color: $BORDER_COLOR;
    }
}
.buttons{
    z-index: 2;
    position: absolute;
    top: 100%;
    display: flex;
    justify-content: flex-end;

    &>*{
        margin: 2px;
        padding: 2px;
    }
}

.delete{
    @extend .buttonStyle;
    background-color: $DELETE_COLOR;
}

.editForm{
    position: relative;
    .edit{
        @extend .buttonStyle;
        background-color: $ADD_COLOR;
        margin-bottom: 5px;
    }
    tng-form{
        padding: 5px;
        border: 1px solid $BORDER_COLOR;
        position: absolute;
        background-color: white;
        left: -1px;
        top: calc(100% - 1px);
        z-index: 1;
    }
    &.open{
        background-color: white;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border: 1px solid $BORDER_COLOR;
        border-bottom: none;
        .edit{
            box-shadow: none;
            z-index: 2;
        }
    }
}