<div class="content">
    <div class="name" (click)="showDetails = !showDetails">{{thing.name}}</div>
    <div class="details" *ngIf="showDetails">
        <div class="description" [ngClass]="{placeholder: !thing.description}">{{thing.description || 'No description given'}}</div>
    </div>
</div>
<div class="buttons" *ngIf="showDetails">
    <div class="editForm" [ngClass]="{open: isEditing}">
        <div class="edit" (click)="isEditing = !isEditing"> / </div>
        <tng-form [thing]="thing" *ngIf="isEditing" (onSaved)="isEditing = false"></tng-form>
    </div>
    <div class="delete" (click)="deleteThing(thing)"> - </div>
</div>